.reactH1{
	border:1px red solid;
	background: url('../images/2.png') no-repeat left;
}
.active{
	color: red;
}
.active_two{
	color: blue;
}
.TopNav{

}
.TopNav-nav{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	>li{
		width: 20%;
		>a{
			display: block;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
			text-align: center;
			transition: .5s;
			&:hover{
				color: green;
			}
		}
	}
}
.TopNav-top{
	width: 100%;
	background: #f1f1f1;
}
.content{
	border:1px blue solid;
	padding: 10px 0;
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.Child{
	border: 1px blue solid;
	height: 450px;
	margin: 10px;
	position: relative;
	/*display: table;*/
	.Child-ipt{
		width: 300px;
		height:300px;
		/*position: absolute;
		top:50%;
		left:50%;
		margin-top: -100px;
		margin-left: -150px;*/

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;

		/*模拟表格让内部元素居中*/
		/*display: table-cell;
		vertical-align: middle;*/

		/*css3居中*/
		/*position: relative;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		transform-origin:50% 50%;*/
		background: #f1f1f1;
		overflow: hidden;
		.data-i{
			width: 98px;
			height: 98px;
			line-height: 98px;
			border: 1px red solid;
			float: left;
			text-align: center;
			.btn{
				height: 100%;
				width: 100%;
			}
		}
	}
}

/*摘苹果组件*/
.appleBusket{
    width: 400px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    >.title{
        padding: 6px 0px;
        text-align: center;
        color: #069;
        font-size: 20px;
        //font-weight: 600;
    }
    >.stats{
        width: 100%;
        border-top: 1px dashed #ddd;
        border-bottom: 1px dashed #ddd;
        padding: 10px 0px;
        .section{
        	// border: 1px red solid;
            display: inline-block;
            width: 47.5%;
            padding-left: 8px;
            .head{
                padding: 6px 0px;
                font-size: 16px;
                color: #069;
            }
            .contents{
                font-size: 20px;
                font-weight: 200;
            }
            &:first-of-type{
                border-right: 1px solid #f0f0f0;
            }
        }
    }
    >.appleList{
        padding: 10px 0px;
        .empty-tip{
            text-align: center;
            font-size: 16px;
            color: #ccc;
            padding: 20px 0px;
        }
    }
    >.btn-div{
        text-align: center;
        button{
            color: #fff;
            background-color: #096;
            border: none;
            font-size: 14px;
            padding: 6px 40px;
            border-radius: 6px;
            margin: 20px auto;
        }
    }
}
